<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theostanton.InstragramClient"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21"/>


    <uses-feature android:name="Window.FEATURE_ACTIVITY_TRANSITIONS"/>
    <uses-feature android:name="Window.FEATURE_CONTENT_TRANSITIONS"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/instagram"
                 android:theme="@style/Apptheme">
        <activity android:name="com.theostanton.InstagramClient.activities.MainActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.theostanton.InstagramClient.activities.PostActivity"/>
        <service android:name="com.theostanton.InstagramClient.DownloadService"/>
    </application>
</manifest>
